$yBase:#F8FF00;
$gBase: #489E4B;

.ubicanos-container {
    min-height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 200px 40px repeat(12, 200px);
}

.aside-ubicanos {
    grid-column: 1 / 4;
    grid-row: 3 / 5;
    margin: 20px;
    iframe {
        width: 100%;
    }
    h2 {
        display: flex;
        justify-content: center;
        background-color: aliceblue;
        background-color: $gBase;
        font-size: 32px;
        border: $yBase 2px solid;
        border-radius: 40px;
        padding: 5px 0px 0px 5px;
    }
}

.secubicanos {
    grid-column: 1 / 4;
    grid-row: 6 / 10;
    .howtotitle {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 60px;
        color: $gBase;
        text-shadow: 5px 5px 5px $yBase;
        margin: 10px;
        height: auto;
    }
    .howto {
        display: flex;
        flex-flow: column wrap;
        align-content: center;
        justify-content: center;
        background: $gBase;
        border: black 3px solid;
        border-radius: 30px;
        h2 {
            margin: 10px;
        }
        ol {
            margin: 10px;
            font-size: 20px;
            line-height: 40px;
        }
    }
}
