$yBase:#F8FF00;
$gBase: #489E4B;

.clot-container {
    min-height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 200px 40px repeat(22, 200px);
}

.productos-vestidor {
    grid-column: 1 / 4;
    grid-row: 3 / 10;
    line-height: 90px;
    background-color: $gBase;
    margin: 45px;
    border: 5px $yBase ridge;
}

.productos-vestidor2 {
    grid-column: 1 / 4;
    grid-row: 10 / 17;
    line-height: 90px;
    background-color: $gBase;
    margin: 45px;
    border: 5px $yBase ridge;
}

.productos-vestidor3 {
    grid-column: 1 / 4;
    grid-row: 17 / 24;
    line-height: 90px;
    background-color: $gBase;
    margin: 45px;
    border: 5px $yBase ridge;
}


.productos__catalogo {
    display: flex;
    flex-flow: column;
    align-items: center;
    transition: 1s;
    img {
        width: 100px;
        height: 100px;
    }
    p {
        font-size: 45px;
    }
    &:hover{
        transform: scale(1.1,1.1);
    }
}
